# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### SBT template
.DS_Store
.idea/*
.idea/**/*
TextILP.iml
logs/
project/project/
project/target/
src/test/scala-2.12/
other/squadDev_wikifier.txt
models/
src/main/resources/QuestionTypeClassification/
/src/main/resources/
.idea/
annotation-cache-quantifier
bioProcessCoref.txt
bioProcessTrainCoref.txt
dump.rdb
externalAnnotations.cache
fillInBlankGenerator.cache
meteor5resources/
myresources/
other/evaluatev11.pyc
other/squadTrain_wikifier.txt
processBank-train.tsv
processBank-train2.json
serverClientAnnotator.cache
squadQuestions-dev.txt
squadQuestions-train.txt
squadQuestions-train.txt.results/
src/main/scala-2.11/
src/test/java/
src/test/resources/
src/test/scala-2.11/
viz/app-2.11/
viz/myresources/function/
viz/myresources/nonbreaking/
viz/myresources/stem/
viz/myresources/synonym/
viz/test-2.11/
viz/test/resources/
/other/questionSets/newsqa-data-v1/
